#vtcInterectMod {
    height: 100%;
    flex: 1;
    flex-direction: column;
    font-size: 12px;
}

.loadHisMsgs {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5px;
}

.hudong-out {
    background-color: #fff;
    width: 100%;
    display: block;
    float: left;
    margin-left: 0px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    border-image: url(../../img/vtc-m/line-top.png) 100 1 stretch;
    -moz-border-image: url(../../img/vtc-m/line-top.png) 100 1 stretch;
    -webkit-border-image: url(../../img/vtc-m/line-top.png) 100 1 stretch;
    border-top-width: 0px;
}

.hudong-head {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
}

.hudong-right {
    float: right;
    width: 85%;
}

.hudong-top {
    height: 24px;
    line-height: 24px;
}

.hudong-bottom {
    color: #666;
    display: block;
    position: relative;
}

.hudong-admin {
    width: 35px;
    height: 20px;
    margin-top: 2px;
    margin-left: 5px;
    vertical-align: top;
}

#hudong {
    width: 100%;
    font-family: "Microsoft Yahei";
    height: 100%;
    flex: 1;
    flex-direction: column;
}

.hudong {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex: 1;
    flex-direction: column;
    background-color: #eee;
}

.hudong-user {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65% !important;
    overflow: hidden;
    display: inline-block;
}

.hudong-nick {
    max-width: 73%;
    display: inherit;
    color: #1eb2ff;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hudong-time {
    float: right;
    display: block;
    color: #999;
}

.hudong-fav {
    width: 8%;
    vertical-align: middle;
    margin-left: 3.5%;
    max-width: 35px;
}

.chatTextPar {
    bottom: 0;
    width: 100%;
    background: #fff;
    border-width: thin;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid rgba(238, 238, 238, 0.7);
    z-index: 999;
}

.chat_text {
    max-height: 72px;
    background: rgb(255, 255, 255);
    margin-left: 2.5%;
    line-height: 40px;
    width: 67%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-y: auto;
}

#chat_text:empty::before {
    color: lightgrey;
    content: attr(placeholder);
}

#chat_text {
    background: rgb(255, 255, 255);
    width: 100%;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-y: auto;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
}

#chat_text:focus {
    border-bottom: 1px solid #38b9ff;
}

#send_message_button {
    bottom: 10px;
    height: 26px;
    line-height: 26px;
    width: 13%;
    margin-left: 1.6%;
    display: inline-block;
    background-color: #38b9ff;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 400;
}

.chat_arrow_me {
    color: #666;
    height: 50px;
    display: block;
    position: relative;
}

.rb_topic {
    position: absolute;
    width: 140px;
    top: 6px;
    margin-left: 60px;
    color: #f0f0f0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rb_check {
    position: absolute;
    width: 200px;
    display: block;
    top: 25px;
    margin-left: 60px;
    color: #f0f0f0;
}

.que_topic {
    position: absolute;
    width: 140px;
    top: 6px;
    margin-left: 60px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.que_check {
    position: absolute;
    width: 200px;
    display: block;
    top: 25px;
    margin-left: 60px;
    color: #000000;
}

.rb_img {
    width: 200px;
    height: 50px;
}


/* 动画 */

.hudongAnimated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    from {
        right: -60px;
    }
    to {
        right: 0px;
    }
}

@keyframes slideInLeft {
    from {
        right: -60px;
    }
    to {
        right: 0px;
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideOutRight {
    from {
        right: 0;
    }
    to {
        right: -60px;
    }
}

@keyframes slideOutRight {
    from {
        right: 0;
    }
    to {
        right: -60px;
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

#hudong .extend-model {
    position: absolute;
    right: 0px;
    bottom: 50px;
    z-index: 1020;
    width: 80px;
    background-color: transparent;
}

#hudong .extend-rb {
    width: 30px;
    vertical-align: middle;
    max-width: 35px;
    margin-top: 10px;
}

#hudong .extend-qa {
    width: 30px;
    vertical-align: middle;
    max-width: 35px;
}

#hudong .extend-model>div {
    display: inline-block;
}